.full-prg{
    padding: 202px 0 3rem 0;
    /* min-height: 100vh; */
}
.prg-crs {
    padding-left: 10%;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    overflow: scroll;
}
.prg-crs::-webkit-scrollbar{
	display: none;
}
.prg-crs>img{
    cursor: pointer;
}
.prg-def-cors{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20vw;
    height: 20vh;
    cursor: pointer;
    min-height: 220px;
}
.prg-def-cors:nth-child(odd){
    background-color: #E5E5E5;
}
.trnd-cont{
    padding: 0 10%;
}
.trnd-cont>div>div>h2{
    font-weight: 700;
    margin-bottom: 2rem;
}
.trnd-cont>div>div>p{
    padding: 0 4rem 0 0;
}
.btns-t, .btns-t-not{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #E5E5E5;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
.btns-t{
    height: 21.9vh;
    margin-bottom: 1rem;
    min-height: 174px;
}
.btns-t-not{
    height: calc(21.9vh - 56px);
    min-height: 100px;
}
.bt-grs{
    background-color: #E5E5E5;
    padding: 1rem 2rem;
    text-align: center;
}
.bt-comb{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: calc(77vh - 322px);
}
.bt-comb> * {
    width: 100%;
}
.thedisp:focus{
    outline: none;
}
@media only screen and (min-width: 1300px){
    .trnd-cont>div>div>p{
        padding: 0 6rem 0 0;
    }
}
@media only screen and (max-height: 800px){
    .full-prg{
        padding: 138px 0 3rem 0;
    }
}